*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #7C7879;
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

header {
  background-color: #524649;
  color: #B2A1B1;
}

h1 {
  font-weight: 800;
}

.header__title--span {
  color: #FFFFFF;
}

.input-form {
  background-color: #EAEAEA;
  display: flex;
}

.input-form__title,
.input-form__body,
.ideas__card {
  background-color: #FFFFFF;
  border: 2px solid #D2CCCD;
  border-radius: 4px;
}

.input-form__save {
  background-color: #6E646B;
  color: #FFFFFF;
  border-radius: 4px;
}

.input-form__save:disabled {
    background-color: #C2C1C0;
}

.input-form__save:hover {
  background-color: #524649;
}

.ideas {
  background-color: #FFFFFF;
}

h2 {
  color: #6E646B;
}
