body {
  font-family: 'Open Sans', sans-serif;
  color: #7C7879
}

header {
  background-color: #524649;
  color: #B2A1B1;
}

h1 {
  font-weight: 800;
}

.header__title--span {
  color: #FFFFFF;
}

.input-form {
  background-color: #EAEAEA;
}

.input-form__title,
.input-form__body {
  background-color: #FFFFFF;
  border: 2px solid #D2CCCD;
  border-radius: 6px;
}

.input-form__save {
  background-color: #6E646B;
  color: #FFFFFF;
  border-radius: 6px;
}

.ideas {
  background-color: #FFFFFF;
}

h2 {
  color: #6E646B;
}